.doc-container {
  h1 {
    font-size: 2.92rem;
    font-weight: bold;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
  }

  h2 {
    font-size: 2.28rem;
    font-weight: bold;
    line-height: 110%;
    margin: 1.46rem 0 0.912rem 0;
  }

  h3 {
    font-size: 1.64rem;
    font-weight: bold;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}
